/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24/12/2021, 01:01:22 AM
    Author     : User
*/
body{
  margin: auto;
}
.contenedor  {
     font-family: roboto;
     width: 1600px;
     height: 1500px;
     margin:0 auto;
    
}
.contenedor div{
         margin:5px auto;
         display: inline-block;
}
.izquierda{
    text-align: center;
    width: 500px;
    height: 800px;
    margin:10px auto;
    align-items: center;
    float: left;
    margin-left: 50px;
}

.izquierda img{
    margin:5px auto;
    border-radius:50%;
    width: 350px;
    height: 350px;
}

.datos{
  font-family: roboto;
  font-size: 30px;
  border-radius: 20px;
  width: 1100px;
  height: 950px;
  float: right;
  margin-right: 50px;
  margin-top: 20px;
}

.editar{
    text-align: center;
    align-items: center;
    border-radius: 20px;
    width: 780px;
    height: 850px;
    background-color:  #F4F1EA;
    margin: 0 auto;
}
.editar p{
    margin:0px auto;
    text-align:left; 
}
.editar div{
   
    color: #00366E;
    display:inline-block;
    margin: 20px 20px;
       
}
.editar input{
    width:280px;
    height:40px;  
    font-size:22px; 
}

.izquierda button{
    display:inline-block;
    border-radius: 20px;
    margin: 10px;
    font-size: 25px;
    border:none;
}
.imagen{
    width: 250px;
    height: 60px;
    background: #F4F1EA;
    color:#00366E;
}
.imagen:hover{
    color: #1883ba;
    background-color: #ffffff;
 }

.guardar{
    width: 130px;
    height: 60px;
    background:#00366E;
    color:white;
}
.guardar:hover{
    color: #1883ba;
    background-color: #ffffff;
 }
select{
    width:600px;
    height:40px;
    font-size:30px; 
}
.descripcion{
    margin:20px 20px;
}
.modelo input{
    width: 600px;
}
.comentario{
    border-radius: 5px;
    width: 600px;
    height: 250px;
    background: white;
    font-size: 18px;
    border:none;
    text-align:left;
    max-height: 250px;
    max-width: 600px;
    min-height: 250px;
    min-width: 600px;
}

