/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06/12/2021, 04:42:17 PM
    Author     : User
*/
*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

body{
   display:  grid;
   font-family:roboto; 
   align-items: center;
   place-items:center;
   text-align: center;
   max-width: 1000px;
   margin:auto;
}

.contenedor{
    display: block;
    background-color: #F4F1EA ;
    border-radius: 20px;
    align-items:center;
    align-content: center;
    width:760px;
    height:1580px; 
    margin:10px auto 1px auto;
    text-align: center;
}



.contenedor h2{
    font-size: 35px;
    color: #00366E;
    margin: 10px auto 5px  auto;
}
.contenedor h3{
    margin-left: 90px;
    margin-bottom: 15px;
    text-align: left;
    font-size: 25px;
    color: #00366E;
}
.contenedor img{
    border-radius: 20px;
    width:  600px;
    height: 300px;
    margin-bottom: 10px;
}
.contenedor p{
    font-family: verdana;
    font-size: 20px;
    margin-left: 90px;
    margin-bottom: 10px;
    text-align: left;
}

.calificacion_estrellas {
    margin-left: 250px;
    position: absolute;
    display: flex;
    transform:rotateY(180deg);
    float: right;
}

.calificacion_estrellas input{
    display: none;
}
.calificacion_estrellas label{
    display: block;
    cursor: pointer;
    width: 50px;
}
.calificacion_estrellas label:before{
    content: '\f005';
    font-family: fontAwesome;
    position: relative;
    display: block;
    font-size: 50px;
    color: #C4C4C4;
}
.calificacion_estrellas label:after{
    content: '\f005';
    font-family: fontAwesome;
    position: absolute;
    display: block;
    font-size: 50px;
    color: #146B90;
    opacity: 0;
    top: 0;
    transition: .5s;
    text-shadow: 0 2px 5px rgba(0,0,0,.5);
}

.calificacion_estrellas label:hover:after,
.calificacion_estrellas label:hover ~ label:after,
.calificacion_estrellas input:checked ~ label:after{
    opacity:1;
}

.comentario{
    border-radius: 5px;
    width: 600px;
    height: 250px;
    background: white;
    font-size: 18px;
    border:none;
    text-align:left;
    margin: 10px 5px 20px  5px;
    max-height: 250px;
    max-width: 600px;
    min-height: 250px;
    min-width: 600px;
}

.btCalificar{
    font-family: roboto;
    text-decoration: none;
    padding: 10px;
    font-weight: 400;
    font-size: 20px;
    color: white;
    background-color: #00366E;
    border-radius: 15px;
    border: none;
    cursor:pointer;
    margin: 20px auto 5px auto;
}


