body{
    font-family: roboto,helvatica;
    background: #ffffff;
    margin: auto;
}
.imenu {
    width: 100%;
    margin: auto;
}
.banner{
    background: white;
    text-align: center;
    
}
.banner img{
}
footer{
    width: 100%;
}
.subtitulo{
    height: 65px;
    width: 250px;
    background: #F4F1EA;
    border-radius: 0px 15px 15px 0px;
    font-family: Patrick Hand;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 70px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #222D6D;
    float: left;
    padding: 10px;
}
.rec-serv{
    background: #4AC0F2;
    border-radius: 15px;
    height: 300px;
    width: 375px;
    margin:10px 25px auto;
    display: inline-block;
}
.cajones{
    margin: auto;
    text-align: center;
}
.rec-serv img{
    height: 200px;
    width: 300px;
    border-radius: 30px;
    margin: 20px 40px auto;
}
.Ubicanos{
    text-align: center;
}
.rec-serv form{
    margin: 15px 10px auto;
}
.rec-con{
    font-family: Post No Bills Colombo SemiBold;
    font-size: 35px;
    font-style: normal;
    font-weight: 300;
    text-align: center;
    color: white;
    background: #4AC0F2;
    border-radius: 15px;
    height: 420px;
    width: 500px;
    margin:10px 10px auto;
    display: inline-block;
}
.mapa{
    width: 450px;
    height: 300px;
    border: none;
    border-radius: 15px;
    display: inline-block;
}
.texto-con{
    font-family: Post No Bills Colombo SemiBold;
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    margin-right: 30px;
}
.Ubicanos{
    height: 430px;
    background-image: url(fotos/fondo_confeti.png);
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
}